.order-details{
    table{
        th, td{
            font-size: 11px;
        }
    }
    .customer-info{
        h6{
            font-size: 12px;
        }
        p{
            font-size: 11px;
        }
    }
}