.customer-dashboard-side-bar {
  border-radius: 5px;
}

.customer-dashboard-side-bar .managment-customer-account-link-list .managment-customer-account-link-item:hover {
  background-color: var(--main-color-two);
  border-radius: 5px;
}

.customer-dashboard-side-bar .managment-customer-account-link-list .managment-customer-account-link-item .managment-customer-account-link .customer-account-managment-link-icon {
  font-size: 25px;
}

.customer-dashboard-side-bar .managment-customer-account-link-list .managment-customer-account-link-item .managment-customer-account-link .customer-dashboard-link-name {
  font-size: 15px;
}
