.customer-dashboard-side-bar{
    border-radius: 5px;
    .managment-customer-account-link-list{
        .managment-customer-account-link-item{
            &:hover, .active{
                background-color: var(--main-color-two);
                border-radius: 5px;
            }
            .managment-customer-account-link{
                padding: 14px;
                .customer-account-managment-link-icon{
                    font-size: 18px;
                }
                .customer-dashboard-link-name{
                    font-size: 10px;
                }
            }
        }
    }
}