.customer-wish-list .favorite-products-list-for-user {
  overflow-y: auto;
  height: 450px;
}

.customer-wish-list .favorite-products-list-for-user .favorite-products-table-for-user th, .customer-wish-list .favorite-products-list-for-user .favorite-products-table-for-user td {
  padding: 20px;
  border: 1px solid #FFF;
  color: #FFF;
}

.customer-wish-list .favorite-products-list-for-user .favorite-products-table-for-user .managment-favorite-products-icon {
  font-size: 25px;
  cursor: pointer;
}
