.auth .result-auth-msg {
  font-size: 22px;
}

.auth .auth-part-display-control {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #FFF;
  color: #000;
  border: 2px solid #CCC;
  cursor: pointer;
}

.auth .auth-part-display-control .display-btn:hover {
  background-color: #b3aeae;
}

@media (max-width: 576px) {
  .auth .auth-part-display-control .display-btn {
    font-size: 18px !important;
  }
  .auth .auth-part-display-control .display-btn.display-login-btn {
    border-bottom: 1px solid #CCC;
  }
}

@media (max-width: 576px) {
  .auth .auth-part-display-control {
    grid-template-columns: auto;
  }
}

.auth .authentication .signup-section, .auth .authentication .login-section {
  animation: displayAuthPartAnimation 2s ease-in-out 0s 1 forwards;
}

.auth .authentication .external-auth-sites-list {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.auth .authentication .external-auth-sites-list li {
  border: 1px solid #FFF;
  padding: 10px 15px;
  cursor: pointer;
}

.auth .authentication .external-auth-sites-list li:hover {
  color: var(--main-color-two);
}

.auth .authentication .external-auth-sites-list li .external-auth-site-icon {
  font-size: 20px;
}

@keyframes displayAuthPartAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
