.auth{
    .auth-part-display-control{
        display: grid;
        grid-template-columns: auto auto;
        background-color: #FFF;
        color: #000;
        border: 2px solid #CCC;
        cursor: pointer;
        .display-btn{
            font-size: 16px !important;
            &:hover{
                background-color: #b3aeae;
            }
            @media (max-width: 576px) {
                font-size: 18px !important;
                &.display-login-btn {
                    border-bottom: 1px solid #CCC;
                }
            }
        }
        @media (max-width: 576px) {
            grid-template-columns: auto;
        }
    }
    .authentication{
        .signup-section, .login-section{
            animation: displayAuthPartAnimation 2s ease-in-out 0s 1 forwards;
        }
        .external-auth-sites-list{
            width: fit-content;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            gap: 20px;
            li{
                border: 1px solid #FFF;
                padding: 8px 10px;
                cursor: pointer;
                &:hover{
                    color: var(--main-color-two);
                }
                .external-auth-site-icon{
                    font-size: 20px;
                }
            }
        }
    }
    .forget-password-link-btn{
        font-size: 14px;
    }
}

@keyframes displayAuthPartAnimation {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}