.account-verification .page-content .welcome-msg {
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .account-verification .page-content .welcome-msg {
    font-size: 25px;
  }
}

.account-verification .page-content .verification {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #FFF;
  position: relative;
}

@media (max-width: 1199px) {
  .account-verification .page-content .verification {
    width: 90%;
    text-align: center;
  }
}

.account-verification .page-content .verification .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-one);
  z-index: 1;
}

.account-verification .page-content .verification .overlay .check-loader {
  position: relative;
  width: 85px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0), linear-gradient(#FFF 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center, 60px center, 75px center, 90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}

@keyframes rikSpikeRoll {
  0% {
    background-size: 10px 3px;
  }
  16% {
    background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
  }
  33% {
    background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
  }
  50% {
    background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px;
  }
  66% {
    background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px;
  }
  83% {
    background-size: 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px, 10px 3px;
  }
  100% {
    background-size: 10px 3px, 10px 3px, 10px 3px,  10px 10px, 10px 30px, 10px 50px;
  }
}

.account-verification .page-content .verification .code-write-form {
  gap: 10px;
}

.account-verification .page-content .verification .code-write-form input {
  font-size: 20px !important;
  border-color: var(--main-color-one) !important;
}

.account-verification .page-content .verification .email-sent-manager-box {
  font-size: 16px;
  border-bottom: 1px solid var(--main-color-one);
}

.account-verification .page-content .verification .email-sent-manager-box button {
  font-size: 14px;
}

@media (max-width: 470px) {
  .account-verification .page-content .verification .email-sent-manager-box span {
    display: block;
    margin-bottom: 10px;
  }
}

.account-verification .page-content .error-msg-on-loading {
  min-height: calc(100vh - 144px);
}

.account-verification .page-content .error-msg-on-loading .error-box {
  width: 80%;
  background-color: var(--main-color-two);
  border-left: 10px solid;
  border-right: 10px solid;
}

@media (max-width: 767px) {
  .account-verification .page-content .error-msg-on-loading .error-box {
    width: 90%;
  }
}

.account-verification .page-content .error-msg-on-loading .error-box .error-icon {
  font-size: 75px;
  color: #F00;
}

@media (max-width: 767px) {
  .account-verification .page-content .error-msg-on-loading .error-box .error-icon {
    font-size: 60px;
  }
}

.account-verification .page-content .error-msg-on-loading .error-box .error-msg {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .account-verification .page-content .error-msg-on-loading .error-box .error-msg {
    font-size: 20px;
  }
}
