.account-verification{
    .page-content{
        .welcome-msg{
            width: fit-content;
            margin: 0 auto;
        }
        .verification{
            width: 50%;
            margin: 0 auto;
            border-radius: 5px;
            background-color: #FFF;
            .code-write-form{
                gap: 10px;
                input{
                    font-size: 20px !important;
                    border-color: var(--main-color-one) !important;
                }
            }
            .email-sent-manager-box{
                font-size: 16px;
                button{
                    font-size: 14px;
                }
            }
        }
    }
}
