.cart .products .user-products-table thead {
  border-bottom: 2px solid #FFF;
}

.cart .products .user-products-table th, .cart .products .user-products-table td {
  padding: 20px;
}

.cart .products .user-products-table tbody tr {
  border-bottom: 2px dashed #FFF;
}

.cart .products .update-product-quantity-cell .update-product-quantity {
  border: 1px solid #FFF;
  width: fit-content;
}

.cart .products .update-product-quantity-cell .update-product-quantity .update-product-icon {
  cursor: pointer;
  font-size: 22px;
  height: 25px;
  border-radius: 2px;
}

.cart .products .update-product-quantity-cell .update-product-quantity .update-product-icon:hover {
  background-color: #FFF;
  color: #000;
}

.cart .products .delete-product-cell .trash-icon {
  cursor: pointer;
  font-size: 22px;
}

.cart .products .cart-total-btn-box {
  position: fixed;
  right: 0;
  bottom: 30px;
  width: fit-content;
  background-color: var(--main-color-two);
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border: 3px solid #FFF;
}

.cart .products .cart-total-btn-box:hover {
  background-color: #000;
  color: #FFF;
}
