.cart .products .user-products-table thead {
  border-bottom: 2px solid #FFF;
}

.cart .products .user-products-table th, .cart .products .user-products-table td {
  padding: 20px;
}

.cart .products .user-products-table tbody tr {
  border-bottom: 2px dashed #FFF;
}

.cart .products .user-products-table .update-product-quantity-cell .update-product-quantity {
  border: 1px solid #FFF;
  width: fit-content;
}

.cart .products .user-products-table .update-product-quantity-cell .update-product-quantity .update-product-icon {
  cursor: pointer;
  font-size: 22px;
  height: 25px;
  border-radius: 2px;
}

.cart .products .user-products-table .update-product-quantity-cell .update-product-quantity .update-product-icon:hover {
  background-color: #FFF;
  color: #000;
}

.cart .products .user-products-table .delete-product-cell .trash-icon {
  cursor: pointer;
  font-size: 22px;
}

.cart .order-total .total {
  border-bottom: 2px dashed #FFF;
}

.cart .order-total .checkout-link {
  background-color: var(--main-color-two);
  color: #000;
  border: 5px solid #FFF;
  border-top-left-radius: 20px;
}

.cart .order-total .checkout-link:hover {
  background-color: var(--main-color-one);
  color: #FFF;
}
