.customer-account-details{
    .edit-customer-account-details-form{
        color: #FFF;
        font-size: 13px;
        h6{
            font-size: 14px;
        }
        .form-errors-box{
            border-radius: 5px;
            .alert-icon-box{
                .alert-icon{
                    font-size: 20px;
                }
            }
            .errors-list{
                .error-item{
                    font-size: 15px;
                }
            }
        }
        .change-password{
            fieldset{
                border: 1px dashed #FFF;
                padding: 20px;
                @media (max-width: 576px) {
                    padding: 15px;
                }
                legend{
                    font-size: 15px;
                }
            }
        }
    }
}