.customer-account-details .edit-customer-account-details-form {
  height: 500px;
  overflow-y: scroll;
  color: #FFF;
}

.customer-account-details .edit-customer-account-details-form .change-password fieldset {
  border: 1px dashed #FFF;
}

.customer-account-details .edit-customer-account-details-form .change-password fieldset legend {
  font-size: 15px;
}
