.product-card .flash-descount-description .flash-icon {
  font-size: 50px;
}

.product-card .product-managment-box .sale-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.product-card .product-managment-box .add-to-cart-button-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.product-card .product-managment-box .add-to-cart-button-box.displaying {
  opacity: 1;
}

.product-card .product-managment-box .add-to-cart-button-box .cart-btn {
  width: 100%;
  border: none;
}

.product-card .product-managment-box .add-to-cart-button-box .add-to-cart-btn {
  background-color: var(--main-color-two);
  font-weight: bold;
}

.product-card .product-details .product-name {
  font-size: 19px;
}

.product-card .product-details .product-category {
  font-size: 18px;
}

.product-card .product-details .product-price, .product-card .product-details .product-price-after-discount {
  font-size: 17px;
}

.product-card .product-details .discount-timer-box {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  background-color: #0F0;
  font-size: 20px;
  border: 3px solid #000;
  font-weight: bold;
}
