.customer-addreses{
    .address-name-and-editing-link{
        border: 2px dotted #FFF;
        .editing-link{
            background: none;
            border: none;
            color: var(--main-color-two);
            border-bottom: 1px solid var(--main-color-two);
        }
    }
}