.admin-dashboard{
    background-color: #FFF;
    .page-content{
        position: absolute;
        left: 300px;
        top: 0;
        width: calc(100% - 300px);
        min-height: 100vh;
        background-color: #EEE;
    }
}