.admin-dashboard{
    background-color: #FFF;
    .page-content{
        position: absolute;
        left: 230px;
        top: 0;
        width: calc(100% - 230px);
        min-height: 100vh;
        background-color: #EEE;
        h1{
            font-size: 30px;
        }
    }
}