.confirmation{
    h5{
        font-size: 15px;
    }
    .row{
        font-size: 12px;
    }
    h4{
        font-size: 18px;
    }
    .store-image{
        width: 140px;
        height: 140px;
    }
}