.home .overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.home .overlay .content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  background-color: var(--main-color-one);
  box-shadow: 1px 1px 10px #000;
}

.home .overlay .content .close-overlay-icon {
  position: absolute;
  right: -20px;
  top: -20px;
  font-size: 40px;
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.home .overlay .content .overlay-header {
  border-bottom: 1px solid;
}

.home .overlay .content .overlay-header .navigate-links .navigate-link:hover {
  color: var(--main-color-two);
}

.home .overlay .content .overlay-header .navigate-links .navigate-link .overlay-header-icon {
  font-size: 40px;
  cursor: pointer;
}

.home .overlay .content .product-details-box {
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home .overlay .content .product-details-box .product-images-box .gallery-image-box {
  cursor: pointer;
  height: 100px;
}

.home .overlay .content .product-details-box .product-images-box .gallery-image-box:hover {
  border: 3px solid #000;
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .product-managment-icon {
  cursor: pointer;
  font-size: 25px;
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .add-to-cart-btn, .home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .wait-to-cart-btn, .home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .error-to-cart-btn {
  border-top-right-radius: 20px;
  border: 5px solid #FFF;
  background-color: var(--main-color-two);
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .add-to-cart-btn:hover, .home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .wait-to-cart-btn:hover, .home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .error-to-cart-btn:hover {
  background-color: transparent;
  color: #FFF;
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .select-product-quantity-box {
  border: 1px solid #FFF;
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .select-product-quantity-box .select-product-quantity-icon {
  cursor: pointer;
  font-size: 22px;
  height: 25px;
  border-radius: 2px;
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .select-product-quantity-box .select-product-quantity-icon:hover {
  background-color: #FFF;
  color: #000;
}

.home .links-and-logo {
  position: relative;
  border-top: 4px solid var(--main-color-two);
  border-bottom: 4px solid var(--main-color-two);
  margin-bottom: 100px;
}

.home .links-and-logo .link-icon {
  font-size: 60px;
  color: var(--main-color-one);
}

.home .links-and-logo .link-icon:hover {
  color: var(--main-color-two);
}

.home .links-and-logo .logo-box {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #FFF;
  border: 4px solid var(--main-color-two);
}

.home .navigate-link-for-display-products {
  border-radius: 15px;
  border: 5p solid var(--main-color-three);
}

.home .navigate-link-for-display-products .display-product-link {
  color: var(--main-color-one);
}

.home .navigate-link-for-display-products .display-product-link .icon {
  font-size: 70px;
}

.home .search .search-icon {
  background-color: #FFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.home .some-of-products .product-details {
  background-color: var(--main-color-two);
  height: 500px;
  overflow-y: auto;
}

.home .some-of-products .product-details img {
  width: 100%;
  height: 300px;
}

.home .some-of-products .product-details .product-managment-buttons-box .add-to-cart-btn {
  background-color: #FFF;
  border: 2px solid #CCC;
  border-top-left-radius: 15px;
}

.home .some-of-products .product-details .product-managment-buttons-box .product-managment-icon {
  cursor: pointer;
  font-size: 20px;
}

.home .categories {
  border-radius: 15px;
}

.home .categories .category-details {
  background-color: var(--main-color-two);
  border-left: 10px solid #FFF;
  border-radius: 15px;
}

.home .categories .category-details:hover {
  border-left: none;
}

.home .categories .category-details .forward-arrow-icon {
  background-color: #FFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.home .categories .category-details .forward-arrow-icon:hover {
  background-color: var(--main-color-one);
  color: #FFF;
}

.home .latest-added-products, .home .best-seller {
  border: 4px solid var(--main-color-three);
  border-radius: 15px;
}

.home .latest-added-products .product-details img, .home .best-seller .product-details img {
  width: 100%;
  height: 250px;
  border: 4px solid var(--main-color-three);
  border-radius: 15px;
}

.home .latest-added-products .product-details .add-to-cart-btn, .home .best-seller .product-details .add-to-cart-btn {
  background-color: var(--main-color-two);
  border: 2px solid #CCC;
  border-top-left-radius: 15px;
}

.home .best-group .product-details img {
  width: 100%;
  height: 250px;
  border: 4px solid var(--main-color-three);
  border-radius: 15px;
}

.home .best-group .product-details .add-to-cart-btn {
  background-color: var(--main-color-two);
  border: 2px solid #CCC;
  border-top-left-radius: 15px;
}
