.home .overlay, .home .share-options-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.home .content, .home .share-icons-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color-one);
  box-shadow: 1px 1px 10px #000;
  width: 90%;
  height: 60%;
}

@media (max-width: 767px) {
  .home .share-options-box .share-icons-box .row {
    gap: 20px;
  }
}

.home .close-overlay-icon, .home .close-share-options-box-icon {
  position: absolute;
  right: -20px;
  top: -20px;
  font-size: 40px;
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.home .overlay .content {
  height: 80%;
}

.home .overlay .content .overlay-header {
  border-bottom: 1px solid;
}

@media (max-width: 767px) {
  .home .overlay .content .overlay-header {
    text-align: center;
  }
}

.home .overlay .content .overlay-header .navigate-links-list {
  gap: 50px;
}

.home .overlay .content .overlay-header .navigate-links-list .navigate-link:hover {
  color: var(--main-color-two);
}

.home .overlay .content .overlay-header .navigate-links-list .overlay-header-icon {
  font-size: 40px;
  cursor: pointer;
}

.home .overlay .content .product-details-box {
  height: calc(100% - (73px + 3rem));
  overflow-y: auto;
  overflow-x: hidden;
}

.home .overlay .content .product-details-box .product-images-box .main-product-image-box {
  height: 370px;
  max-height: 100%;
}

@media (max-width: 767px) {
  .home .overlay .content .product-details-box .product-images-box .main-product-image-box {
    height: 330px;
  }
}

.home .overlay .content .product-details-box .product-images-box .main-product-image-box .slick-slider {
  height: 370px;
  max-height: 100%;
}

@media (max-width: 767px) {
  .home .overlay .content .product-details-box .product-images-box .main-product-image-box .slick-slider {
    height: 330px;
  }
}

.home .overlay .content .product-details-box .product-images-box .main-product-image-box .slick-slider .slick-list .slick-slide div {
  height: 370px;
  max-height: 100%;
}

@media (max-width: 767px) {
  .home .overlay .content .product-details-box .product-images-box .main-product-image-box .slick-slider .slick-list .slick-slide div {
    height: 330px;
  }
}

.home .overlay .content .product-details-box .product-images-box .main-product-image-box .slick-slider .slick-arrow {
  z-index: 1;
}

.home .overlay .content .product-details-box .product-images-box .main-product-image-box .slick-slider .slick-next {
  right: 20px;
}

.home .overlay .content .product-details-box .product-images-box .main-product-image-box .slick-slider .slick-prev {
  left: 20px;
}

@media (max-width: 576px) {
  .home .overlay .content .product-details-box .product-images-box .row {
    gap: 30px;
  }
}

.home .overlay .content .product-details-box .product-images-box .product-image-box img, .home .overlay .content .product-details-box .product-images-box .gallery-image-box img {
  cursor: pointer;
  width: 92px;
  height: 92px;
}

.home .overlay .content .product-details-box .product-images-box .product-image-box img:hover, .home .overlay .content .product-details-box .product-images-box .gallery-image-box img:hover {
  border: 3px solid #000;
}

.home .overlay .content .product-details-box .product-images-box .product-image-box img.selection, .home .overlay .content .product-details-box .product-images-box .gallery-image-box img.selection {
  border: 3px solid #000;
}

@media (max-width: 991px) {
  .home .overlay .content .product-details-box .product-price-and-quantity {
    text-align: center;
  }
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .product-managment-icon {
  cursor: pointer;
  font-size: 25px;
}

@media (max-width: 767px) {
  .home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart {
    row-gap: 30px;
  }
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .add-to-cart-btn, .home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .wait-to-cart-btn, .home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .error-to-cart-btn {
  border-top-right-radius: 20px;
  border: 5px solid #FFF;
  background-color: var(--main-color-two);
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .add-to-cart-btn:hover, .home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .wait-to-cart-btn:hover, .home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .add-to-cart-managment-btns-box .error-to-cart-btn:hover {
  background-color: transparent;
  color: #FFF;
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .select-product-quantity-box {
  border: 1px solid #FFF;
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .select-product-quantity-box .select-product-quantity-icon {
  cursor: pointer;
  font-size: 22px;
  height: 25px;
  border-radius: 2px;
}

.home .overlay .content .product-details-box .add-to-wish-list-or-cart .add-to-cart .select-product-quantity-box .select-product-quantity-icon:hover {
  background-color: #FFF;
  color: #000;
}

.home .overlay .content .product-details-box .product-description-and-referrals h6 {
  cursor: pointer;
}

.home .overlay .content .product-details-box .product-description-and-referrals h6:hover {
  color: var(--main-color-two);
}

.home .overlay .content .product-details-box .product-description-and-referrals h6.selected {
  color: var(--main-color-two);
  border: 1px solid var(--main-color-two);
  font-weight: bold;
}

.home .overlay .content .product-details-box .product-description-and-referrals .product-referrals .rating-box .star-icon {
  cursor: pointer;
}

@media (max-width: 767px) {
  .home .overlay .content .product-details-box .note {
    line-height: 2;
  }
}

.home .overlay .content .product-details-box .referral-form textarea {
  height: 100px;
  resize: none;
}

.home .overlay .content .product-details-box .referral-form .send-referral-btn {
  border-top-right-radius: 20px;
  border: 5px solid #FFF;
  background-color: var(--main-color-two);
}

.home .overlay .content .product-details-box .referral-form .send-referral-btn:hover {
  background-color: transparent;
  color: #FFF;
}

@media (max-width: 767px) {
  .home .overlay .content .product-details-box .referral-form .name-and-email-box {
    gap: 30px;
  }
}

.home .contact-icons-box {
  position: fixed;
  left: 30px;
  bottom: 30px;
  cursor: pointer;
}

.home .contact-icons-box .contact-icons-list .contact-icon-item {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background-color: var(--main-color-two);
}

.home .contact-icons-box .contact-icon, .home .contact-icons-box .close-icon, .home .contact-icons-box .whatsapp-icon, .home .contact-icons-box .mail-icon {
  font-size: 35px;
  color: #000;
}

.home .navigate-link-for-display-products {
  border-radius: 15px;
  border: 5p solid var(--main-color-three);
  gap: 40px;
}

.home .navigate-link-for-display-products .display-product-link {
  color: var(--main-color-one);
}

.home .navigate-link-for-display-products .display-product-link .icon {
  font-size: 70px;
}

@media (max-width: 576px) {
  .home .navigate-link-for-display-products .display-product-link .icon {
    font-size: 50px;
  }
  .home .navigate-link-for-display-products .display-product-link .link-name {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .home .products-display-managment .row {
    gap: 30px;
  }
}

.home .last-added-products {
  border-bottom: 2px solid var(--main-color-two);
}

.home .last-added-products .row {
  row-gap: 30px;
}

.home .last-added-products .products-box .product {
  min-height: 369px;
}

.home .last-added-products .product-managment-box {
  position: relative;
  cursor: pointer;
  height: 450px;
  background-size: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.home .last-added-products .product-managment-box .product-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: .3s;
}

.home .last-added-products .product-managment-box .product-overlay.displaying {
  opacity: 1;
}

.home .last-added-products .product-managment-box .product-managment-buttons {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #FFF;
  border-radius: 10px;
  opacity: 0;
}

.home .last-added-products .product-managment-box .product-managment-buttons .product-managment-icon {
  font-size: 20px;
}

.home .last-added-products .product-managment-box .add-to-cart-button-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.home .last-added-products .product-managment-box .add-to-cart-button-box.displaying {
  opacity: 1;
}

.home .last-added-products .product-managment-box .add-to-cart-button-box .cart-btn {
  width: 100%;
  background-color: var(--main-color-two);
  border: none;
  font-weight: bold;
}

.home .last-added-products .product-managment-box:hover .product-overlay, .home .last-added-products .product-managment-box:hover .product-managment-buttons, .home .last-added-products .product-managment-box:hover .add-to-cart-button-box {
  opacity: 1;
}

.home .last-added-products .product-details {
  position: relative;
  background-color: #FFF;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 142px;
}

.home .last-added-products .product-details .product-name {
  font-size: 19px;
}

.home .last-added-products .product-details .product-category {
  font-size: 18px;
}

.home .last-added-products .product-details .product-price, .home .last-added-products .product-details .product-price-after-discount {
  font-size: 17px;
}

.home .last-added-products .product-details .discount-timer-box {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  background-color: #0F0;
  font-size: 20px;
  border: 3px solid #000;
  font-weight: bold;
}

.home .last-added-products .product-details .product-managment-buttons-box .add-to-cart-btn {
  background-color: #FFF;
  border: 2px solid #CCC;
  border-top-left-radius: 15px;
}

.home .last-added-products .product-details .product-managment-buttons-box .product-managment-icon {
  cursor: pointer;
  font-size: 20px;
}

.home .categories {
  border-bottom: 2px solid var(--main-color-two);
}

.home .categories .row {
  row-gap: 30px;
}

.home .categories .category-details {
  background-color: var(--main-color-two);
  border-left: 10px solid #FFF;
  border-radius: 15px;
}

.home .categories .category-details:hover {
  border-left: none;
}

.home .categories .category-details .forward-arrow-icon {
  background-color: #FFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.home .categories .category-details .forward-arrow-icon:hover {
  background-color: var(--main-color-one);
  color: #FFF;
}

.home .brands .slick-slider .slick-prev {
  left: 0;
}

.home .brands .slick-slider .slick-next {
  right: 0;
}

.home .brands .slick-slider .slick-dots li button:before {
  font-size: 12px;
}

.home .brands .brand-box .brand-image-box {
  height: 200px;
}

.home .brands .brand-box .brand-image-box img {
  width: 400px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}
