.home{
    .carousel{
        position: static;
        .carousel-caption{
            position: static;
            padding: 0;
            .ads-content{
                margin: 0;
                font-size: 20px;
            }
        }
    }
    .store-details,.image-ads, .categories, .last-added-flash-products{
        border-bottom: 2px solid var(--main-color-two);
    }
    .stores{
        border-top: 2px solid var(--main-color-two);
    }
    .welcome-msg{
        width: fit-content;
    }
    .text-ads{
        font-size: 14px;
    }
    .image-ads{
        .slick-slider{
            .slick-prev{
                left: 0;
            }
            .slick-next{
                right: 0;
            }
            .slick-dots{
                bottom: 0;
                li{
                    button:before{
                        font-size: 12px;
                    }
                }
            }
        }
        .ad-box{
            .ad-image-box{
                height: 350px;
                img{
                    width: 350px;
                    max-width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    border: 3px solid var(--main-color-two);
                }
            }
        }
    }
    .categories{
        .row{
            row-gap: 30px;
        }
        .category-details{
            background-color: var(--main-color-two);
            border-left: 10px solid #FFF;
            border-radius: 15px;
            &:hover{
                border-left: none;
            }
            .forward-arrow-icon{
                background-color: #FFF;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 15px;
                &:hover{
                    background-color: var(--main-color-one);
                    color: #FFF;
                }
            }
        }
    }
    .last-added-products{
        border-bottom: 2px solid var(--main-color-two);
    }
}