.home .share-options-box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.home .share-options-box .share-icons-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color-one);
  box-shadow: 1px 1px 10px #000;
  width: 90%;
  height: 60%;
}

@media (max-width: 767px) {
  .home .share-options-box .share-icons-box .row {
    gap: 20px;
  }
}

.home .close-share-options-box-icon {
  position: absolute;
  right: -20px;
  top: -20px;
  font-size: 40px;
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}

.home .categories {
  border-bottom: 2px solid var(--main-color-two);
}

.home .categories .row {
  row-gap: 30px;
}

.home .categories .category-details {
  background-color: var(--main-color-two);
  border-left: 10px solid #FFF;
  border-radius: 15px;
}

.home .categories .category-details:hover {
  border-left: none;
}

.home .categories .category-details .forward-arrow-icon {
  background-color: #FFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.home .categories .category-details .forward-arrow-icon:hover {
  background-color: var(--main-color-one);
  color: #FFF;
}

.home .last-added-products {
  border-bottom: 2px solid var(--main-color-two);
}

.home .last-added-products .row {
  row-gap: 30px;
}

.home .last-added-products .products-box .product {
  margin: auto;
  height: 600px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .home .last-added-products .products-box .product {
    width: 280px;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .home .last-added-products .products-box .product {
    width: 360px;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .home .last-added-products .products-box .product {
    width: 450px;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .home .last-added-products .products-box .product {
    width: 550px;
  }
}

@media (min-width: 701px) and (max-width: 767px) {
  .home .last-added-products .products-box .product {
    width: 650px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home .last-added-products .products-box .product {
    width: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home .last-added-products .products-box .product {
    width: 450px;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .home .last-added-products .products-box .product {
    width: 360px;
  }
}

@media (min-width: 1301px) {
  .home .last-added-products .products-box .product {
    width: 400px;
  }
}

.home .last-added-products .products-box .product .product-managment-box {
  position: relative;
  cursor: pointer;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

@media (min-width: 320px) and (max-width: 400px) {
  .home .last-added-products .products-box .product .product-managment-box {
    width: 280px;
    height: 280px;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .home .last-added-products .products-box .product .product-managment-box {
    width: 360px;
    height: 360px;
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .home .last-added-products .products-box .product .product-managment-box {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .home .last-added-products .products-box .product .product-managment-box {
    width: 550px;
    height: 550px;
  }
}

@media (min-width: 701px) and (max-width: 767px) {
  .home .last-added-products .products-box .product .product-managment-box {
    width: 650px;
    height: 650px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home .last-added-products .products-box .product .product-managment-box {
    width: 500px;
    height: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home .last-added-products .products-box .product .product-managment-box {
    width: 450px;
    height: 450px;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .home .last-added-products .products-box .product .product-managment-box {
    width: 360px;
    height: 360px;
  }
}

@media (min-width: 1301px) {
  .home .last-added-products .products-box .product .product-managment-box {
    width: 400px;
    height: 400px;
  }
}

.home .last-added-products .products-box .product .product-managment-box img {
  max-width: 100%;
  height: 100%;
}

.home .last-added-products .products-box .product .product-managment-box .product-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: .3s;
}

.home .last-added-products .products-box .product .product-managment-box .product-overlay.displaying {
  opacity: 1;
}

.home .last-added-products .products-box .product .product-managment-box .product-managment-buttons {
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #FFF;
  border-radius: 10px;
  opacity: 0;
}

.home .last-added-products .products-box .product .product-managment-box .product-managment-buttons .product-managment-icon {
  font-size: 20px;
}

.home .last-added-products .products-box .product .product-managment-box .add-to-cart-button-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.home .last-added-products .products-box .product .product-managment-box .add-to-cart-button-box.displaying {
  opacity: 1;
}

.home .last-added-products .products-box .product .product-managment-box .add-to-cart-button-box .cart-btn {
  width: 100%;
  background-color: var(--main-color-two);
  border: none;
  font-weight: bold;
}

.home .last-added-products .products-box .product .product-managment-box:hover .product-overlay, .home .last-added-products .products-box .product .product-managment-box:hover .product-managment-buttons, .home .last-added-products .products-box .product .product-managment-box:hover .add-to-cart-button-box {
  opacity: 1;
}

.home .last-added-products .products-box .product .product-details {
  position: relative;
  background-color: #FFF;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 142px;
}

.home .last-added-products .products-box .product .product-details .product-name {
  font-size: 19px;
}

.home .last-added-products .products-box .product .product-details .product-category {
  font-size: 18px;
}

.home .last-added-products .products-box .product .product-details .product-price, .home .last-added-products .products-box .product .product-details .product-price-after-discount {
  font-size: 17px;
}

.home .last-added-products .products-box .product .product-details .discount-timer-box {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 200px;
  background-color: #0F0;
  font-size: 20px;
  border: 3px solid #000;
  font-weight: bold;
}

.home .last-added-products .products-box .product .product-details .product-managment-buttons-box .add-to-cart-btn {
  background-color: #FFF;
  border: 2px solid #CCC;
  border-top-left-radius: 15px;
}

.home .last-added-products .products-box .product .product-details .product-managment-buttons-box .product-managment-icon {
  cursor: pointer;
  font-size: 20px;
}

.home .brands .slick-slider .slick-prev {
  left: 0;
}

.home .brands .slick-slider .slick-next {
  right: 0;
}

.home .brands .slick-slider .slick-dots li button:before {
  font-size: 12px;
}

.home .brands .brand-box .brand-image-box {
  height: 200px;
}

.home .brands .brand-box .brand-image-box img {
  width: 400px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}
