.home{
    .overlay{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.5);
        z-index: 3;
        .content{
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 75%;
            height: 75%;
            background-color: var(--main-color-one);
            box-shadow: 1px 1px 10px #000;
            .close-overlay-icon{
                position: absolute;
                right: -20px;
                top: -20px;
                font-size: 40px;
                background-color: red;
                cursor: pointer;
                border-radius: 50%;
                padding: 5px;
            }
            .overlay-header{
                border-bottom: 1px solid;
                .navigate-links{
                    .navigate-link{
                        &:hover{
                            color: var(--main-color-two);
                        }
                        .overlay-header-icon{
                            font-size: 40px;
                            cursor: pointer;
                        }
                    }
                }
            }
            .product-details-box{
                height: 400px;
                overflow-y: scroll;
                overflow-x: hidden;
                .product-images-box{
                    .main-product-image-box{
                        height: 400px;
                    }
                    .product-image-box{
                        cursor: pointer;
                        &.selection {
                            border: 3px solid #000;
                        }
                    }
                    .gallery-image-box{
                        cursor: pointer;
                        height: 100px;
                        &:hover{
                            border: 3px solid #000;
                        }
                        &.selection {
                            border: 3px solid #000;
                        }
                    }
                }
                .add-to-wish-list-or-cart{
                    .product-managment-icon{
                        cursor: pointer;
                        font-size: 25px;
                    }
                    .add-to-cart{
                        .add-to-cart-managment-btns-box{
                            .add-to-cart-btn, .wait-to-cart-btn, .error-to-cart-btn{
                                border-top-right-radius: 20px;
                                border: 5px solid #FFF;
                                background-color: var(--main-color-two);
                                &:hover{
                                    background-color: transparent;
                                    color: #FFF;
                                }
                            }
                        }
                        .select-product-quantity-box{
                            border: 1px solid #FFF;
                            .select-product-quantity-icon{
                                cursor: pointer;
                                font-size: 22px;
                                height: 25px;
                                border-radius: 2px;
                                &:hover{
                                    background-color: #FFF;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
                .product-description-and-referrals{
                    h6{
                        cursor: pointer;
                        &:hover{
                            color: var(--main-color-two);
                        }
                        &.selected{
                            color: var(--main-color-two);
                            border: 1px solid var(--main-color-two);
                            font-weight: bold;
                        }
                    }
                    .product-referrals{
                        .rating-box{
                            .star-icon{
                                cursor: pointer;
                            }
                        }
                    }
                }
                .referral-form{
                    textarea{
                        height: 100px;
                        resize: none;
                    }
                    .send-referral-btn{
                        border-top-right-radius: 20px;
                        border: 5px solid #FFF;
                        background-color: var(--main-color-two);
                        &:hover{
                            background-color: transparent;
                            color: #FFF;
                        }
                    }
                }
            }
        }
    }
    .links-and-logo{
        position: relative;
        border: {
            top: 4px solid var(--main-color-two);
            bottom: 4px solid var(--main-color-two);
        };
        margin-bottom: 100px;
        .links-box{
            @media (max-width: 1199px) {
                text-align: end;
            }
        }
        .link-icon{
            font-size: 60px;
            color: var(--main-color-one);
            &:hover{
                color: var(--main-color-two);
            }
        }
        .logo-box{
            position: absolute;
            width: 250px;
            height: 250px;
            left: 10%;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: #FFF;
            border: 4px solid var(--main-color-two);
            @media (max-width: 767px) {
                width: 150px;
                height: 150px;
            }
            .logo-icon{
                font-size: 100px;
            }
        }
    }
    .navigate-link-for-display-products{
        border-radius: 15px;
        border: 5p solid var(--main-color-three);
        .display-product-link{
            color: var(--main-color-one);
            .icon{
                font-size: 70px;
            }
        }
    }
    .products-display-managment{
        .row{
            @media (max-width: 767px) {
                gap: 30px;
            }
        }
    }
    .search{
        .search-icon{
            background-color: #FFF;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    .some-of-products{
        .row{
            @media (max-width: 991px) {
                gap: 30px;
            }
        }
        .product-details{
            position: relative;
            background-color: var(--main-color-two);
            .product-image-box{
                height: 100px;
                background-size: cover;
            }
            .discount-timer-box{
                position: absolute;
                right: 10px;
                top: 10px;
                width: 200px;
                background-color: #0F0;
                font-size: 20px;
                border: 3px solid #000;
                font-weight: bold;
            }
            img{
                width: 100%;
                height: 300px;
            }
            .product-managment-buttons-box{
                .add-to-cart-btn{
                    background-color: #FFF;
                    border: 2px solid #CCC;
                    border-top-left-radius: 15px;
                }
                .product-managment-icon{
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }
    }
    .categories{
        .row{
            @media (max-width: 767px) {
                gap: 30px;
            }
        }
        border-radius: 15px;
        .category-details{
            background-color: var(--main-color-two);
            border-left: 10px solid #FFF;
            border-radius: 15px;
            &:hover{
                border-left: none;
            }
            .forward-arrow-icon{
                background-color: #FFF;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 15px;
                &:hover{
                    background-color: var(--main-color-one);
                    color: #FFF;
                }
            }
        }
    }
    .latest-added-products, .best-seller{
        border: 4px solid var(--main-color-three);
        border-radius: 15px;
        .product-details{
            img{
                width: 100%;
                height: 250px;
                border: 4px solid var(--main-color-three);
                border-radius: 15px;
            }
            .add-to-cart-btn{
                background-color: var(--main-color-two);
                border: 2px solid #CCC;
                border-top-left-radius: 15px;
            }
        }
    }
}