.home{
    .overlay, .share-options-box{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.5);
        z-index: 3;
    }
    .content, .share-icons-box {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--main-color-one);
        box-shadow: 1px 1px 10px #000;
        width: 90%;
        height: 60%;
    }
    .share-options-box {
        .share-icons-box{
            .row{
                @media (max-width: 767px) {
                    gap: 20px;
                }
            }
        }
    }
    .close-overlay-icon, .close-share-options-box-icon{
        position: absolute;
        right: -20px;
        top: -20px;
        font-size: 40px;
        background-color: red;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
    }
    .overlay{
        .content{
            height: 80%;
            .overlay-header{
                @media (max-width: 767px) {
                    text-align: center;
                }
                border-bottom: 1px solid;
                .navigate-links-list{
                    gap: 50px;
                    .navigate-link{
                        &:hover{
                            color: var(--main-color-two);
                        }
                    }
                    .overlay-header-icon{
                        font-size: 40px;
                        cursor: pointer;
                    }
                }
            }
            .product-details-box{
                height: calc(100% - (73px + 3rem));
                overflow-y: auto;
                overflow-x: hidden;
                .product-images-box{
                    .main-product-image-box{
                        height: 370px;
                        max-height: 100%;
                        @media (max-width: 767px) {
                            height: 330px;
                        }
                        .slick-slider{
                            height: 370px;
                        max-height: 100%;
                        @media (max-width: 767px) {
                            height: 330px;
                        }
                            .slick-list{
                                .slick-slide{
                                    div{
                                        height: 370px;
                                        max-height: 100%;
                                        @media (max-width: 767px) {
                                            height: 330px;
                                        }
                                    }
                                }
                            }
                            .slick-arrow{
                                z-index: 1;
                            }
                            .slick-next{
                                right: 20px;
                            }
                            .slick-prev{
                                left: 20px;
                            }
                        }
                    }
                    .row{
                        @media (max-width: 576px) {
                            gap: 30px;
                        }
                    }
                    .product-image-box, .gallery-image-box{
                        img{
                            cursor: pointer;
                            width: 92px;
                            height: 92px;
                            &:hover{
                                border: 3px solid #000;
                            }
                            &.selection {
                                border: 3px solid #000;
                            }
                        }
                    }
                }
                .product-price-and-quantity{
                    @media (max-width: 991px) {
                        text-align: center;
                    }
                }
                .add-to-wish-list-or-cart{
                    .product-managment-icon{
                        cursor: pointer;
                        font-size: 25px;
                    }
                    .add-to-cart{
                        @media (max-width: 767px) {
                            row-gap: 30px;
                        }
                        .add-to-cart-managment-btns-box{
                            .add-to-cart-btn, .wait-to-cart-btn, .error-to-cart-btn{
                                border-top-right-radius: 20px;
                                border: 5px solid #FFF;
                                background-color: var(--main-color-two);
                                &:hover{
                                    background-color: transparent;
                                    color: #FFF;
                                }
                            }
                        }
                        .select-product-quantity-box{
                            border: 1px solid #FFF;
                            .select-product-quantity-icon{
                                cursor: pointer;
                                font-size: 22px;
                                height: 25px;
                                border-radius: 2px;
                                &:hover{
                                    background-color: #FFF;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
                .product-description-and-referrals{
                    h6{
                        cursor: pointer;
                        &:hover{
                            color: var(--main-color-two);
                        }
                        &.selected{
                            color: var(--main-color-two);
                            border: 1px solid var(--main-color-two);
                            font-weight: bold;
                        }
                    }
                    .product-referrals{
                        .rating-box{
                            .star-icon{
                                cursor: pointer;
                            }
                        }
                    }
                }
                .note{
                    @media (max-width: 767px) {
                        line-height: 2;
                    }
                }
                .referral-form{
                    textarea{
                        height: 100px;
                        resize: none;
                    }
                    .send-referral-btn{
                        border-top-right-radius: 20px;
                        border: 5px solid #FFF;
                        background-color: var(--main-color-two);
                        &:hover{
                            background-color: transparent;
                            color: #FFF;
                        }
                    }
                    .name-and-email-box{
                        @media (max-width: 767px) {
                            gap: 30px;
                        }
                    }
                }
            }
        }
    }
    .contact-icons-box{
        position: fixed;
        left: 30px;
        bottom: 30px;
        cursor: pointer;
        .contact-icons-list{
            .contact-icon-item{
                width: 60px;
                height: 60px;
                text-align: center;
                line-height: 60px;
                border-radius: 50%;
                background-color: var(--main-color-two);
            }
        }
        .contact-icon, .close-icon, .whatsapp-icon, .mail-icon{
            font-size: 35px;
            color: #000;
        }
    }
    .navigate-link-for-display-products{
        border-radius: 15px;
        border: 5p solid var(--main-color-three);
        gap: 40px;
        .display-product-link{
            color: var(--main-color-one);
            .icon{
                font-size: 70px;
            }
            @media (max-width: 576px) {
                .icon{
                    font-size: 50px;
                }
                .link-name{
                    font-size: 18px;
                }
            }
        }
    }
    .products-display-managment{
        .row{
            @media (max-width: 767px) {
                gap: 30px;
            }
        }
    }
    .last-added-products{
        border-bottom: 2px solid var(--main-color-two);
        .product-managment-box{
            position: relative;
            cursor: pointer;
            height: 450px;
            background-size: cover;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            .product-overlay{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: inherit;
                background-color: rgba($color: #000000, $alpha: 0.6);
                opacity: 0;
                transition: .3s;
            }
            .product-managment-buttons{
                position: absolute;
                right: 8px;
                top: 8px;
                background-color: #FFF;
                border-radius: 10px;
                opacity: 0;
            }
            .add-to-cart-button-box{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                .cart-btn{
                    width: 100%;
                    background-color: var(--main-color-two);
                    border: none;
                    font-weight: bold;
                }
            }
            &:hover{
                .product-overlay, .product-managment-buttons, .add-to-cart-button-box{
                    opacity: 1;
                }
            }
        }
        .product-details{
            position: relative;
            background-color: #FFF;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            .product-name{
                font-size: 19px;
            }
            .product-category{
                font-size: 18px;
            }
            .product-price, .product-price-after-discount{
                font-size: 17px;
            }
            .product-image-box{
                height: 100px;
                background-size: cover;
            }
            .discount-timer-box{
                position: absolute;
                right: 10px;
                top: 10px;
                width: 200px;
                background-color: #0F0;
                font-size: 20px;
                border: 3px solid #000;
                font-weight: bold;
            }
            .product-managment-buttons-box{
                .add-to-cart-btn{
                    background-color: #FFF;
                    border: 2px solid #CCC;
                    border-top-left-radius: 15px;
                }
                .product-managment-icon{
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }
    }
    .last-added-products{
        .row{
            row-gap: 30px;
        }
    }
    .categories{
        border-bottom: 2px solid var(--main-color-two);
        .row{
            row-gap: 30px;
        }
        .category-details{
            background-color: var(--main-color-two);
            border-left: 10px solid #FFF;
            border-radius: 15px;
            &:hover{
                border-left: none;
            }
            .forward-arrow-icon{
                background-color: #FFF;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 15px;
                &:hover{
                    background-color: var(--main-color-one);
                    color: #FFF;
                }
            }
        }
    }
    .brands{
        .slick-slider{
            .slick-prev{
                left: 0;
            }
            .slick-next{
                right: 0;
            }
            .slick-dots{
                li{
                    button:before{
                        font-size: 12px;
                    }
                }
            }
        }
        .brand-box{
            .brand-image-box{
                height: 200px;
                img{
                    max-width: 100%;
                    height: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}