.checkout{
    .page-content{
        .container-fluid{
            > .row{
                @media (max-width: 991px) {
                    gap: 30px;
                }
                > div:last-of-type{
                    position: sticky;
                    top: 20px;
                }
                .first-and-last-name{
                    .row{
                        > div:first-of-type{
                            @media (max-width: 767px) {
                                margin-bottom: 1.5rem;
                            }
                        }
                    }
                }
            }
            .payment-methods{
                .row{
                    @media (max-width: 767px) {
                        gap: 10px;
                        .checkout-link{
                            width: 90% !important;
                        }
                    }
                }
            }
        }
        .radio-input{
            width: fit-content;
        }
        .icon{
            font-size: 50px;
        }
    }
}