@media (max-width: 991px) {
  .checkout .page-content .container-fluid > .row {
    gap: 30px;
  }
}

.checkout .page-content .container-fluid > .row > div:last-of-type {
  position: sticky;
  top: 20px;
}

@media (max-width: 767px) {
  .checkout .page-content .container-fluid > .row .first-and-last-name .row > div:first-of-type {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 767px) {
  .checkout .page-content .container-fluid .payment-methods .row {
    gap: 10px;
  }
  .checkout .page-content .container-fluid .payment-methods .row .checkout-link {
    width: 90% !important;
  }
}

.checkout .page-content .radio-input {
  width: fit-content;
}

.checkout .page-content .icon {
  font-size: 50px;
}
