.admin-login{
    min-height: 100vh;
    .page-content{
        .container{
            background-color: #CCC;
            box-shadow: 1px 1px 15px #EEE;
            border-radius: 5px;
        }
    }
}