.global-header{
    .navbar{
        .navbar-nav{
            align-items: center;
            .nav-link{
                color: #000;
                transition: 0.5s;
                &:hover{
                    background-color: #CCC;
                }
            }
            .global-header-icon{
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
}