.global-header {
  min-height: 100px;
}

.global-header .navbar .navbar-nav {
  align-items: center;
}

.global-header .navbar .navbar-nav .nav-link {
  color: #000;
  transition: 0.5s;
}

.global-header .navbar .navbar-nav .nav-link:hover {
  background-color: #CCC;
}

.global-header .navbar .navbar-nav .global-header-icon {
  font-size: 20px;
  cursor: pointer;
}
