.global-header {
  min-height: 90px;
}

.global-header .navbar {
  background-color: var(--main-color-two);
}

.global-header .navbar .navbar-nav {
  align-items: center;
}

.global-header .navbar .navbar-nav .nav-link {
  color: #000;
  font-size: 13px;
  transition: 0.5s;
}

.global-header .navbar .navbar-nav .nav-link:hover {
  background-color: #CCC;
}

.global-header .navbar .navbar-nav .nav-link .icon-box {
  position: relative;
}

.global-header .navbar .navbar-nav .nav-link .icon-box .products-count-box {
  position: absolute;
  background-color: #000;
  width: 25px;
  height: 25px;
  line-height: 25px;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
}

.global-header .navbar .navbar-nav .dropdown .dropdown-item {
  font-size: 13px;
}

.global-header .navbar .navbar-nav .global-header-icon {
  font-size: 16px;
  cursor: pointer;
}

.global-header .navbar .navbar-nav .logout-btn {
  font-size: 13px;
}
