@media (max-width: 576px) {
  .customer-orders-managment .customer-orders h1 {
    text-align: center;
  }
  .customer-orders-managment .customer-orders h1 span {
    display: block;
    margin-bottom: 15px;
  }
}
