.customer-wish-list{
    .favorite-products-list-for-user{
        .favorite-products-table-for-user{
            .managment-favorite-products-icon{
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    .not-found-any-favorite-products-for-user{
        color: #FFF;
        .sorry-icon{
            font-size: 100px;
        }
    }
}