footer{
    background-color: #FFF;
    .asfour-logo-for-footer{
        width: 50%;
        max-width: 100%;
        max-height: 100%;
    }
    .link-btn{
        font-size: 16px;
    }
    .row{
        @media (max-width: 767px) {
            gap: 30px;
        }
    }
}