footer {
  background-color: #FFF;
}

footer .link-btn {
  font-size: 11px;
}

footer .title {
  width: fit-content;
  font-size: 14px;
}

@media (max-width: 1199px) {
  footer .row {
    gap: 30px;
  }
}

footer .payment-methods-list .payment-method-item {
  font-size: 14px;
}

footer .payment-methods-list .payment-method-item .icon-as-image {
  width: 14px;
}

footer .subscription-form button, footer .subscription-form input {
  font-size: 12px !important;
}

footer p {
  font-size: 14px;
}
