footer {
  background-color: #FFF;
}

footer .ubuyblues-logo-for-footer {
  width: 50%;
  max-width: 100%;
  max-height: 100%;
}

footer .link-btn {
  font-size: 13px;
}

footer .title {
  width: fit-content;
}

@media (max-width: 1199px) {
  footer .row {
    gap: 30px;
  }
}

footer .payment-methods-list .payment-method-item span {
  font-size: 16px;
}

footer .payment-methods-list .payment-method-item .icon {
  font-size: 20px;
}

footer .payment-methods-list .payment-method-item .knet-icon {
  width: 20px;
}
