.page-not-found{
    .page-content{
        background-color: #FFF;
        width: 100%;
        .error-404-icon{
            font-size: 150px;
        }
        .home-page-link-button{
            color: #000;
            font-size: 15px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}