.page-not-found{
    min-height: 100vh;
    .page-content{
        background-color: #FFF;
        width: 100%;
        .error-404-icon{
            font-size: 175px;
        }
        .home-page-link{
            color: #000;
            font-size: 20px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}