.customer-shipping-address .edit-customer-shipping-address-form {
  height: 500px;
  overflow-y: auto;
  color: #FFF;
  font-size: 13px;
}

.customer-shipping-address .edit-customer-shipping-address-form h6 {
  font-size: 14px;
}

.customer-shipping-address .edit-customer-shipping-address-form .address-name-and-editing-link {
  border: 2px dotted #FFF;
}

.customer-shipping-address .edit-customer-shipping-address-form .address-name-and-editing-link .editing-link {
  background: none;
  border: none;
  color: var(--main-color-two);
  border-bottom: 1px solid var(--main-color-two);
}
