*{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --main-color-one: #6A017A;
    --main-color-two: #00ffe1;
    --main-color-three: #dfb762;
}

body{
    background-color: var(--main-color-one);
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

.password-field-box, .email-field-box, .confirm-password-field-box{
    position: relative;
    .icon-box{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        .icon{
            font-size: 30px;
            cursor: pointer;
        }
    }
}