*{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --main-color-one: #6A017A;
    --main-color-two: #00ffe1;
    --main-color-three: #dfb762;
}

body{
    background-color: var(--main-color-one);
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

input, textarea{
    background: transparent;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    width: 100%;
    &::placeholder{
        color: #FFF;
    }
    &:focus{
        outline: none;
        border-color: #00F;
    }
}

.password-field-box, .email-field-box, .confirm-password-field-box{
    position: relative;
    .icon-box{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        .icon{
            font-size: 30px;
            cursor: pointer;
        }
    }
}

.managment-table{
    td, th{
        border: 1px solid;
        padding: 15px;
        text-align: center;
    }
    textarea{
        resize: none;
        height: 150px;
    }
}

.loading-box{
    height: 100vh;
}

.loader {
    width: 50px;
    height: 165px;
    position: relative;
}
.loader::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50% , 0);
    width: 16px;
    height: 16px;
    background: #FF3D00;
    border-radius: 50%;
    animation: bounce 2s linear infinite;
}
.loader::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 48px;
    width: 48px;
    background: #fff;
    border-radius: 4px;
    animation: rotate 2s linear infinite;
}
@keyframes bounce {
    0% , 50% , 100%{
        transform: translate(-50%, 0px);
        height: 20px;
    }
    20% {
        transform: translate(-25%, 85px);
        height: 28px;
    }
    25% {
        transform: translate(-25%, 110px);
        height: 12px;
    }
    70% {
        transform: translate(-75%, 85px);
        height: 28px;
    }
    75% {
        transform: translate(-75%, 108px);
        height: 12px;
    }
}
@keyframes rotate {
    0% , 50% , 100%{ transform: rotate(0deg)}
    25% { transform: rotate(90deg)}
    75%{ transform: rotate(-90deg)}
}

.navigate-to-up-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 27px;
    background-color: var(--main-color-two);
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    &:hover{
        background-color: #000;
        color: #FFF;
    }
}