:root {
  --main-color-one: #6A017A;
  --main-color-two: #00ffe1;
  --main-color-three: #dfb762;
}

body {
  background-color: var(--main-color-one);
}

body[lang="en"], body[lang="tr"], body[lang="de"] {
  font-family: 'Montserrat', sans-serif;
  direction: ltr;
}

body[lang="ar"] {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: #FFF;
  text-decoration: none;
}

input, textarea, select, .checkbox {
  background: transparent;
  border: 1px solid #FFF;
  border-radius: 3px;
  color: #FFF;
  width: 100%;
  font-size: 13px !important;
}

input::placeholder, textarea::placeholder, select::placeholder, .checkbox::placeholder {
  color: #FFF;
}

input:focus, textarea:focus, select:focus, .checkbox:focus {
  outline: none;
  border-color: #00F;
}

textarea {
  height: 120px;
  resize: none;
}

.global-button {
  font-size: 13px;
}

.password-field-box,
.email-field-box,
.confirm-password-field-box,
.current-password-field-box,
.new-password-field-box,
.confirm-new-password-field-box {
  position: relative;
}

.password-field-box .icon-box,
.email-field-box .icon-box,
.confirm-password-field-box .icon-box,
.current-password-field-box .icon-box,
.new-password-field-box .icon-box,
.confirm-new-password-field-box .icon-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.password-field-box .icon-box.ar-language-mode,
.email-field-box .icon-box.ar-language-mode,
.confirm-password-field-box .icon-box.ar-language-mode,
.current-password-field-box .icon-box.ar-language-mode,
.new-password-field-box .icon-box.ar-language-mode,
.confirm-new-password-field-box .icon-box.ar-language-mode {
  left: 15px;
}

.password-field-box .icon-box.other-languages-mode,
.email-field-box .icon-box.other-languages-mode,
.confirm-password-field-box .icon-box.other-languages-mode,
.current-password-field-box .icon-box.other-languages-mode,
.new-password-field-box .icon-box.other-languages-mode,
.confirm-new-password-field-box .icon-box.other-languages-mode {
  right: 15px;
}

.password-field-box .icon-box .icon,
.email-field-box .icon-box .icon,
.confirm-password-field-box .icon-box .icon,
.current-password-field-box .icon-box .icon,
.new-password-field-box .icon-box .icon,
.confirm-new-password-field-box .icon-box .icon {
  font-size: 22px;
  cursor: pointer;
}

.password-field-box.error-in-field .icon-box,
.email-field-box.error-in-field .icon-box,
.confirm-password-field-box.error-in-field .icon-box,
.current-password-field-box.error-in-field .icon-box,
.new-password-field-box.error-in-field .icon-box,
.confirm-new-password-field-box.error-in-field .icon-box {
  transform: translateY(-80%);
}

.managment-table td, .managment-table th, .customer-table td, .customer-table th {
  border: 1px solid;
  padding: 15px;
  text-align: center;
  font-size: 13px;
}

.managment-table {
  background-color: #FFF;
}

.managment-table textarea {
  resize: none;
  height: 150px;
}

.managment-table h6 {
  font-size: 13px;
}

.customer-table {
  color: #FFF;
}

.order-details .customer-info p {
  font-size: 13px;
}

.filters h6 {
  font-size: 13px;
}

.loading-box {
  height: 100vh;
  background-color: var(--main-color-one);
}

.loader, .loader-page {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.navigate-to-up-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  background-color: var(--main-color-two);
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.navigate-to-up-button:hover {
  background-color: #000;
  color: #FFF;
}

.form-field-error-box {
  border-radius: 3px;
}

@media (max-width: 1199px) {
  .customer-dashboard .page-content .container-fluid > .row {
    row-gap: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 1199px) {
  .customer-dashboard .page-content .container-fluid > .row .row {
    row-gap: 40px;
  }
}

.order-total {
  font-size: 14px;
}

.order-total .total {
  border-bottom: 2px dashed #FFF;
}

@media (max-width: 767px) {
  .order-total .total {
    gap: 15px;
  }
}

.order-total .checkout-link {
  background-color: var(--main-color-two);
  color: #000;
  border: 5px solid #FFF;
  border-top-left-radius: 20px;
}

.order-total .checkout-link:hover {
  background-color: var(--main-color-one);
  color: #FFF;
}

@media (max-width: 767px) {
  .order-total {
    text-align: center !important;
  }
}

.pagination .current-page-number-and-count-of-pages {
  font-size: 14px;
}

.pagination .pagination-icon {
  font-size: 25px;
  cursor: pointer;
}

.pagination .pagination-icon:hover {
  background-color: #dc3545;
  color: #FFF;
  font-size: 25px;
}

.pagination .pagination-button {
  background: #DDD;
  font-size: 14px;
}

.pagination .pagination-button.selection {
  background-color: #dc3545;
  color: #FFF;
}

.pagination .navigate-to-specific-page-form .page-number-input {
  font-size: 14px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.data-box .data-table th, .data-box .data-table td {
  padding: 20px;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 13px;
  width: 40px;
}

.select-language-box {
  position: relative;
}

.select-language-box .languages-list {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 1;
  background-color: var(--main-color-two);
  width: 150px;
}

.select-language-box .languages-list .language-item {
  cursor: pointer;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 50%, 100% {
    transform: translate(-50%, 0px);
    height: 20px;
  }
  20% {
    transform: translate(-25%, 85px);
    height: 28px;
  }
  25% {
    transform: translate(-25%, 110px);
    height: 12px;
  }
  70% {
    transform: translate(-75%, 85px);
    height: 28px;
  }
  75% {
    transform: translate(-75%, 108px);
    height: 12px;
  }
}

@keyframes rotate {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(-90deg);
  }
}
