.admin-panel-header {
  background-color: #222;
  text-align: center;
  font-size: 14px;
}

.admin-panel-header .navbar .navbar-brand {
  font-size: 16px;
  color: #FFF;
}

.admin-panel-header .navbar .navbar-brand:hover {
  color: #0F0;
}

.admin-panel-header .navbar .navbar-nav .nav-link {
  color: #FFF;
}

.admin-panel-header .navbar .navbar-nav .nav-link:hover {
  color: #0F0;
}

.admin-panel-header .navbar .navbar-nav .nav-item {
  cursor: pointer;
}

.admin-panel-header .navbar .navbar-nav .nav-item.sign-out-btn {
  border-radius: 5px;
}

.admin-panel-header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-size: 14px;
}
